@import "mixins";
@import "reset";

.small {
  font-size:12px;
}
.clear {
  clear:both;
}

body {
  background:#f3f3f3;
  color:#555;
}

.wrapper {
    width:500px;
    margin:0 auto;

    #editor {
        position: relative;
        width:500px;
        height:500px;
    }

    .result {
        font-style:monospace;
    }
}